body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .card {
    height: 17rem;
    width: 12rem;
    border-radius: 4px;
    position: absolute;
    transition: all 0.2s ease-in;
    transform-origin: center bottom;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  }

  .card:nth-of-type(1) {
    background-color: violet;
  }
  .card:nth-of-type(2) {
    background-color: indigo;
  }
  .card:nth-of-type(3) {
    background-color: purple;
  }
  .card:nth-of-type(4) {
    background-color: aqua;
  }
  .card:nth-of-type(5) {
    background-color: blue;
  }
  .card:nth-of-type(6) {
    background-color: green;
  }
  .card:nth-of-type(7) {
    background-color: yellow;
  }
  .card:nth-of-type(8) {
    background-color: orange;
  }
  .card:nth-of-type(9) {
    background-color: red;
  }
}

section:hover {
  .card:nth-of-type(1) {
    transform: translateX(2rem) rotateZ(40deg);
  }
  .card:nth-of-type(2) {
    transform: translateX(1.5rem) rotateZ(30deg);
  }
  .card:nth-of-type(3) {
    transform: translateX(1rem) rotateZ(20deg);
  }
  .card:nth-of-type(4) {
    transform: translateX(0.5rem) rotateZ(10deg);
  }
  .card:nth-of-type(6) {
    transform: translateX(-0.5rem) rotateZ(-10deg);
  }
  .card:nth-of-type(7) {
    transform: translateX(-1rem) rotateZ(-20deg);
  }
  .card:nth-of-type(8) {
    transform: translateX(-1.5rem) rotateZ(-30deg);
  }
  .card:nth-of-type(9) {
    transform: translateX(-2rem) rotateZ(-40deg);
  }
}
