@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

nav {
  width: 0;
  opacity: 0;
  transition-property: width, opacity;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  max-width: 25%;
}

nav.open {
  background-color: #222;
  max-width: 25%;
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  border: 1px solid red;
}

a {
  text-decoration: none;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 2rem;
}

a article {
  padding-left: 1.5rem;
  padding-right: 3rem;
  padding-top: 2.3rem;
}

a.toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  background-color: red;
}

aside,
p {
  font-family: "Open Sans", sans-serif;
  color: #a4a4a4;
}
aside {
  align-self: flex-start;
  padding-top: 4rem;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bolder;
  /* top: 400px;
  position: absolute;
  left: 700px; */
}
h2 {
  /* position: absolute;
  top: 450px;
  left: 600px; */
  font-size: 1rem;
  color: #6d6d6d;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}
